@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .graph-background {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(100% 100% at 50% 50%, theme('colors.dark') 0%, theme('colors.black') 26%, theme('colors.dark') 100%);
  }
}

.mycontainer {
  pointer-events: none !important;
}

.mycontainer h1 {
  color: white;
  font-size: 18px;
}